<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>You can get more detailed descriptions of projects <a href=""/project" | prepend: site.baseurl">here</a>.</p>
    </div><!--//intro-->
    {% for proj in site.projects %}
    <div class="item">
        <span class="project-title"><a href="{{ proj.url }}">{{ proj.name }} </a></span> - <span class="project-tagline">{{ proj.description  }}</span>   
    </div><!--//item-->
    {% endfor %}
</section><!--//section-->