<!-- self introduce -->
Long Gong is a final-year Ph.D. candidate at Georgia Institute of Technology.
Currently, he works with
<a href="{{ site.advisor.PhD.url }}">Prof. {{ site.advisor.PhD.name }}</a> on {%
for ri in site.research_interests %}{% if forloop.last == true %} and {% endif
%}{{ ri }}{% if forloop.last == false %}, {% endif %}{% endfor %} (<b
  >not limited to</b
>). He is interested in solving practical, real-life problems with
<b>"simple but not trivial"</b> solution which however has solid theoretical
backing. Before that, he obtained his master's and bachelor's degree both from
University of Science and Technology of China (USTC).
<a href="{{ site.url }}assets/files/long_full_2019.pdf">Here</a> is his latest
resume. He will join Facebook in the summer of 2020.
