<B>Long Gong</B> is Research Scientist at Facebook,  who obtained his Ph.D. from <a href="https://gatech.edu">Georgia Institute of Technology</a>. His research interest focuses on {% for ri in site.research_interests %}{% if forloop.last == true %} and {% endif %}{{ ri }}{% if forloop.last == false %}, {% endif %}{% endfor %} (<B>not limited to</B>). <br/>

Besides his research areas, he is also quite interested in building all kinds of practical tools (from tiny APPs to large systems). <br/>

You can reach me at long[dot]github[at]gmail[dot]com, if you have any questions regarding my papers or codes or anything else. 