 <section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
    <div class="summary">
        <p><B>Long Gong</B> is Research Scientist at Facebook. His research interest focuses on {% for ri in site.research_interests %}{% if forloop.last == true %} and {% endif %}{{ ri }}{% if forloop.last == false %}, {% endif %}{% endfor %} (<B>not limited to</B>). </p>

        <p>Besides his research areas, he is also quite interested in building all kinds of practical tools (from tiny APPs to large systems). </p>

        <p>You can reach him at {{ site.author.email }}, if you have any questions regarding his papers or codes or anything else.</p>
    </div><!--//summary-->
</section><!--//section-->