<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Teaching &amp; Professional Services</h2>
    {% if site.teaching %}
    <div class="item">
        <span class="project-title">Teaching</span> <br/>
        {% for t in site.teaching %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <span class="project-tagline"><a href="{{ t.url }}">{{ t.name }}</a></span><br/>   
        {% endfor %}
    </div><!--//item-->
    {% endif %}

    {% if site.service %}
    <div class="item">  
        {% for s in site.service %}
        <span class="project-title">{{ s.type }}</span> <br/>
        {% for d in s.details %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <span class="project-tagline">{{ d }}</span> <br/>
        {% endfor %}
        {% endfor %}
    </div><!--//item-->
    
    {% endif %}
</section><!--//section-->