//文章显示
.post{
  margin-top: 50px;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .title{
    padding: 0;
    margin: 0;
    font-size: $font-size-big;
    color: $gray-darker;

    i{
      color: $primary-color;
      margin-right: $font-size-small;
    }
  }

  .info{
    margin-top: 10px;
    color: $gray-dark;
    li{
      display: inline-block;
      margin-right: 5px;
    }

    .author{
      color: $primary-color;
    }
    .tag{
      color: $primary-color;
      &::before,&::after{
        color: $white;
      }
    }

    .tag::before{
      content: '['
    }
    .tag::after{
      content: ']'
    }
    .tag:hover{
      color: $blue;
      text-decoration: none;
      &::before,&::after{
        color: $blue;
      }
    }
  }
  .excerpt{
    color: $gray-dark;
  }

  .content{
    ul, ol {
       margin:auto -3em 1em 0;
       padding:0;
       position:relative;
       left:-3em;
       overflow:hidden;
    }

    li {
       margin-top:0.25em;
       margin-bottom:0.25em;
    }

    ul ul, ul ol,
    ol ol, ol ul {
       margin-left:1em;
       padding-left:0;
    }

    ul li, ol li {
       margin-left:5em;
    }

    li li {
       margin-left:1em;
    }
  }

  .operate{
    a,span{
      color: $gray-dark;
      margin-left: 3px;
    }
    a:hover{
      color: $gray-darker;
      text-decoration: none;
    }
  }

  img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
